@import 'layout';
@import 'palette';

body {
    & > .container {
        & > article {
            nav.ancestors[data-count="0"] {
                display: none;

                & + * {
                    margin-top: 0;
                    padding-top: 8px;
                }
            }
        }
    }
}
